{% extends 'base.html.twig' %}

{% block title %}О проекте{% endblock %}

{% block main %}
    <div class="row">
        <div class="col">
            <div class="container" style="margin-top: 75px">
                <div class="text-center">
                    <h1>Новостной портал</h1>
                </div>
                <div class="text-left">
                    <h3>Требования к navbar:</h3>
                    <div class="about-hl"></div>
                    <p>На всех страницах в шапке сайта для неавторизованных пользователей выводить ссылки на
                        авторизацию и регистрацию, для авторизованных - приветствие, кнопку “Выход” и
                        имя пользователя.</p>
                </div>
                <div class="text-left">
                    <h5>Шапка страницы для неавторизованного пользователя: </h5>
                    <img src="/img/nav-not_auth.png">
                    <h5>Шапка страницы для авторизованного пользователя: </h5>
                    <img src="/img/nav-auth.png">
                </div>
                <div class="text-center">
                    <div class="row">
                        <div class="col">
                            <h5>Форма входа: </h5>
                            <img src="/img/sign_in.png" style="height: 300px">
                            <p>Форма для авторизации пользователей на сайте.</p>
                        </div>
                        <div class="col">
                            <h5>Форма регистрации: </h5>
                            <img src="/img/sign_up.png" style="height: 300px">
                            <p>Форма для создания нового пользователя.</p>
                        </div>
                        <div class="col">
                            <h5>Форма для редактирования данных пользователя: </h5>
                            <img src="/img/UserForm.png" style="height: 300px">
                            <p>Форма для редактирования данных авторизованного пользователя.</p>
                        </div>
                    </div>
                </div>
                <div class="text-left">
                    <h3>Требования к главной странице:</h3>
                    <div class="about-hl" style="width: 27.5vw"></div>
                    <p>На главной странице выводятся новости, отсортированные по дате добавления.
                        У каждой новости выводится название (ссылка на страницу новости), дата добавления,
                        аннотация (краткое описание содержимого или первая часть новости) и количество комментариев
                        к новости.</p>
                </div>
                <div class="text-left ">
                    <p>Ссылка на макет главной страницы в figma: <a href="https://www.figma.com/file/cqTPvz0302vsZws3rbMXvi/Untitled?node-id=0%3A1"
                       class="about-a">Макет главной страницы</a></p>
                </div>
                <div class="text-left">
                    <h3>Требования к странице с описанием новости:</h3>
                    <div class="about-hl" style="width: 38.5vw"></div>
                    <p>На странице новости выводится информация о новости:
                        <br>- название
                        <br>- дата добавления
                        <br>- текст описания
                        <br>- количество просмотров новости
                        <br>- список комментариев, отсортированных по дате добавления
                        <br>- форма “Оставить комментарий” (текстовое поле и кнопка  “Отправить”)
                    </p>
                </div>
                <div class="text-left">
                    <h3>Требования к странице создания новости:</h3>
                    <div class="about-hl" style="width: 35.5vw"></div>
                    <p>На странице добавления новости располагается форма с полями
                        <br>- название
                        <br>- аннотация
                        <br>- текст новости
                        <br>- Все поля обязательные. Если какие-то из введенных значений невалидны, сохранения в БД не
                        происходит, на форме выводятся сообщения об ошибках. Заполненные пользователем текстовые
                        поля не сбрасываются.</p>
                </div>
                <div class="text-left">
                    <h3>Дополнительные требования:</h3>
                    <div class="about-hl" style="width: 25vw"></div>
                    <p>Просмотром новости должно считаться посещение детальной страницы новости, если текущий
                        пользователь - не автор новости.
                        <br>После успешной отправки выполнять редирект на страницу созданной новости.
                        <br>Все пользователи (в том числе неавторизованные) могут просматривать новости и комментарии
                        к ним.
                        <br>Авторизованные пользователи могут оставлять комментарии под новостями.
                        <br>Пользователь с правами администратора должен иметь возможность добавления, удаления и
                        редактирования новостей, а также удаления комментариев.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
