<div style="width: 105%">
    {{ form_start(form) }}
        {{ form_row(form.id_news, {label_attr: {class: 'private-label'}} ) }}
        {{ form_row(form.text, {label_attr: {class: 'private-label'}} ) }}
        <button class="btn btn-primary" >Отправить</button>
    {{ form_end(form) }}
</div>