html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 3.6rem;
    margin-bottom: 3.6rem;
}

html, body {
    height: 100%;
}
.content {
    margin: 20px 20px 20px 230px;
    flex: 1 0 auto;
}

footer{
    z-index: 100;
}

#page-content{
    margin-top: -20px;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url("/img/bg-main.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

img{
    max-width: 100%;
    height: auto;
    transition: 1s linear;
}

img:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

$page: 100vw;
$width: calc(#{$page} - 230px);

.wrapper {
    width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header style start */

nav, #navAccordion{
    background-color: #243238;
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar-toggler-icon{
    background-image: url("/img/navbar-toggler.png");
}

.navbar-brand{
    color: #007bff;
}

.nav-link:hover {
    transition: all 1s;
    background-color: #007bff;
}

.nav-link-collapse:after {
    float: right;
    content: '\f067';
    font-family: 'FontAwesome';
}

.nav-link-show:after {
    float: right;
    content: '\f068';
    font-family: 'FontAwesome';
}


/* Header style end */

/* Login style start */

.form-auth{

}

.card{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    background: -webkit-linear-gradient(top,#7579ff,#b224ef);
}

.login-logo-container{
    font-size: 60px;
    background: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto;
}

.icon{
    padding: 11px;
    color: #243238;
    min-width: 50px;
    text-align: center;
}

.login-h3{
    width: 100%;
    color:#fff;
    text-align: center;
    margin-bottom: 20px;
}

label{
    color: white;
    margin-bottom: 10px;
}

.btn-login{
    width: 100px;
    border-radius: 25px;
}

.header-p{
    display: block;
    padding: .5rem 1rem;
    font-size: 14px;
    color: white;
}

#registration_form_agreeTerms {
    position: absolute;
    margin-top: 8px;
    margin-left: -18px;
}

.form-check-input{
    margin-top: 7px;
}
/* Login style end */

/* About style start */

.about-a{
    color: blue;
    font-size: 16px;
    text-decoration: none;
}

.about-a:hover{
    text-decoration: none;
}

.about-hl{
    height:5px;
    width:18vw;
    border-top:2px solid black;
    padding-left:10px;
}
/* About style end */

/* Private_Office style start */

#wrapper_privateOffice{
    margin: -23px 0 0% 0px;
}

.container-privateOff{
    padding-left: 0;
    padding-right: 0;
    width: 110%;
}

.bg-prive_office{
    height: 60vh;
    background-image: url("/img/bg-private_office.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: -15px;
}

.pr_of-container{
    margin-top: -40vh;
    margin-bottom: 20px;
    background-color: #50BBE7;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.private-label{
    color: black;
}

.private_office-img-container{
    font-size: 175px;
    background: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 225px;
    border-radius: 50%;
    margin: 0 auto;
}

.form-group{
    width: 95%;
}

/* Private_Office style end */

/* Home page style start */

.carousel.slide{
    max-height: 500px;
    height: 100%;
}

.carousel,.item,.active{height:100%;}


.carousel-inner{height:100%;}

.fill{
    max-width: 100%;
    transition: 0.5s linear;
    width:100%;
    height:100%;
    background-position:center;
    background-size:cover;
}

.fill:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.news-info_fields{
    text-align: center;
    padding: 1.4em;
    padding-top: 45px;
}

.news_data{
    margin: 15px 0 15px 0;
    max-height: 400px;
    height: 100%;
}

.crop-height {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
    overflow-x:hidden;
    height: 57px;
}

.container-news_data{
    z-index: 20;
}

.card-news{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.news_info, .news_info_sm{
    width: 100%;
    font-size: 1em;
    display: flex;
    align-self: center;
    align-items: baseline;
    justify-content: center;
}

.news_info_sm{
    font-size: 0.7em;
    margin-top: 10px;
}

.main_news{
    padding-left: 0;
}

.min_news{
    margin-bottom: 15px;
}

.main_news:nth-child(2n){
    margin-top: 15px;
}

.min_news:nth-child(4n){
    padding-right: 0;
}

.title_slider{
    font-size: 1.6em;
    color: #dc3545;
    text-decoration: none;
}

.block_genre{
    width: 100px;
    height: 25px;
    position: relative;
    margin-top: -25px;
    top: 40px;
    left: 20px;
    text-align: center;
    background-color: #007bff;
    z-index: 10;
}

.news_bg{
    background-color: #243238;
    height: 100%;
}

.news-title{
    text-align: center;
    color: white;
    margin: 15px 0 15px 0;
    background-color: #243238;
}

i{
    color: white;
    padding: 5px;
}

hr{
    margin-top: -5px;
    border: none;
    background-color: red;
    color: red;
    height: 3px;
}

.mart-15{
    margin-top: 15px;
}

.last{
    padding-right: 0;
}

.btn_more{
    border-radius: 0;
    margin-left: 10px;
}

#btn-list > li{
    margin-top: 5px;
}

.img_comment{
    height: 100px;
}

/* Home page style end */

/* NewsShow page style start */

.card-comment{
    background-color: #f8f9fa;
    border: 2px solid darkgrey;
    margin-bottom: 15px;
}

.icon{
    max-width: 100%;
    height: auto;
    padding: 0;
}

.icon:hover{
    -webkit-transform: scale(1.001);
    transform: scale(1.001);
}

.close{
    margin-left: 15px;
    margin-top: -2px;
}

/* NewsShow page style start */

/* Footer style start */

.footer-content{
    height: 125px;
    width: 100%;
    background: #243238;
    border-top:1px solid #1b1e21;
}

.footer-text{
    color: #f8f9fa;
}

.footer-copyright{
    height: 60px;
    width: 100%;
    background: #1c2331;
}

.btn_main{
    border-color: white;
    border-width: 3px;
    background: #007bff;
    display: inline-block;
    width: 100px;
    padding: 10px 15px;
    border-radius: 25px;
    color: white;
}

.btn_main:hover{
    background: #28a745;
    text-decoration: none;
    color: white;
}

#footer_content{
}

/* Footer style end */

/* Media style start */

@media (min-width: 992px) {
    .sidenav {
        position: absolute;
        top: 0;
        left: 0;
        width: 230px;
        height: calc(100vh - 3.5rem);
        margin-top: 3.5rem;
        background: #343a40;
        box-sizing: border-box;
        border-top: 1px solid rgba(0, 0, 0, 0.3);
    }

    .navbar-expand-lg .sidenav {
        flex-direction: column;
    }

    .content-wrapper {
        margin-left: 230px;
    }

    .footer {
        width: calc(100% - 230px);
        margin-left: 230px;
    }

    /* Header style end */
}

@media (max-width: 993px) {
    /* Home style start */

    .content{
        margin-left: 0;
    }

    .main_news{
        margin-top: 15px;
    }

    .main_news:first-child{
        padding-left: 15px;
    }

    .min_news:nth-child(2n){
        padding-right: 0;
    }

    /* Home style end */
}

@media (max-width: 768px){
    /* Home style start */

    .main_news{
        padding-left: 15px;
    }

    .min_news{
        padding-right: 0;
    }

    .news_fields{
        margin-top: 0;
    }

    /* Home style end */

    /* Show News style start */

    #news-title_wrap{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .img_comment{
        height: 150px;
    }

    /* Show News style end */
}

@media (max-width: 400px) {
    /* Footer style start */

    .footer-text{
        font-size: 16px;
    }

    /* Footer style end */
}

/* Media style end */