<i class="fa fa-calendar" aria-hidden="true"></i>
<p style="color: white">{{ news.DateAdded|date('Y-m-d H:i') }}</p>
<i class="fa fa-user" aria-hidden="true"></i>
<p style="color: white">{{ news.author }}</p>
<i class="fa fa-comment-o" aria-hidden="true"></i>
<p style="color: white">{{ news.CountViews }}</p>